<?xml version="1.0"?>

<robot name="virtual_link" xmlns:xacro="http://ros.org/wiki/xacro">

    <link name="virtual_1_link" />
    <link name="virtual_2_link" />
    <link name="virtual_3_link" />
    <link name="virtual_4_link" />
    <link name="virtual_5_link" />
    <link name="virtual_6_link" />
    <link name="virtual_7_link" />
    <link name="virtual_8_link" />
    <link name="virtual_9_link" />
    <link name="virtual_10_link" />
    <link name="virtual_11_link" />
    <link name="virtual_12_link" />
    <link name="virtual_13_link" />
    <link name="virtual_14_link" />

</robot>