<?xml version="1.0"?>

<robot name="wx250s" xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:macro name="ar_tag" params="arm_prefix">

        <link name="${arm_prefix}/ar_tag_link">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="package://doudou_description/meshes/wx250s_meshes/wx250s_11_ar_tag.stl" scale="0.001 0.001 0.001"/>
                </geometry>
                <material name="interbotix_black"/>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="package://doudou_description/meshes/wx250s_meshes/wx250s_11_ar_tag.stl" scale="0.001 0.001 0.001"/>
                </geometry>
            </collision>
            <inertial>
                <origin xyz="0 0 -0.00315" rpy="0 0 0" />
                <mass value="0.016507"/>
                <inertia ixx="0.000003084" ixy="0" ixz="0" iyy="0.000003084" iyz="0" izz="0.000006059"/>
            </inertial>
        </link>

        <joint name="${arm_prefix}/ar_tag_joint" type="fixed">
            <axis xyz="0 0 0"/>
            <origin xyz="-0.017 0 0.04155" rpy="0 0 0" />
            <parent link="${arm_prefix}/ee_arm_link"/>
            <child link="${arm_prefix}/ar_tag_link"/>
        </joint>
      
    </xacro:macro>

</robot>